html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.group-button {
  width: 100px;
  height: 50px;
  background-color: orange;
  color: black;
  border: groove;
  border-radius: 10px;
  font-family: monospace
}

.group-button:hover {
  background-color: green;
  
  
}
#unique-input {
  width: 100px;
  height: 50px;
  background-color: pink;
  color: black;
  border: groove;
  border-radius: 10px;
  
}

#unique-button {
  width: 100px;
  height: 50px;
  background-color: green;
  color: black;
  border: groove;
  border-radius: 10px;
  font-family: monospace
  
}

#unique-button:hover {
  background-color: orange;
  
  
}

#unique-sticker {
  width: 200px;
  height: 200px;
  border: 10px outset blue;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: monospace
}

#unique-end {
  width: 200px;
  height: 250px;
  border: 10px outset blue;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: monospace
}

#unique-vote {
  width: 200px;
  height: 100px;
  border: 10px outset blue;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: monospace
}